.layer-switcher.shown.ol-control {
     background-color: transparent;
}
 .layer-switcher.shown.ol-control:hover {
     background-color: transparent;
}
 #maplayerslist{
     width:100%;
}
 .layer-switcher {
     position: relative;
     top: 5px;
     text-align: left;
     z-index: 2;
}
 .layer-switcher.shown {
     bottom: 3em;
}
 .layer-switcher .panel {
     max-height: 100%;
     overflow-y: auto;
     overflow-x: hidden;
     margin-bottom: 12px;
}
 .layer-switcher.shown .panel {
     height: 250px;
     z-index: 3;
     display: block;
}
 .layer-switcher button {
     float: right;
     width: 40px;
     height: 40px;
     background-repeat: no-repeat;
     background-position: 6px;
     background-color:transparent;
     background-size: 27px 27px;
     border: none;
     border-radius:4px;
     cursor:pointer;
     display:none;
}
 .layer-switcher.shown button {
     display: none;
}
 .layer-switcher button:focus, .layer-switcher button:hover {
     background-color: white;
}
 .layer-switcher ul {
     padding-left: 0px;
     list-style: none;
}
 #maplayerslist .ol-control{
     position:relative !important;
}
 #maplayerslist .ol-control button{
     display:none !important;
}
 .layer-switcher li.group {
     padding-top: 5px;
}
 .layer-switcher li.group > label {
     font-weight: bold;
     letter-spacing: 1px;
}
 .layer-switcher li.layer {
     display: table;
     padding: 8px 0px;
     width: 100%;
}
 .layer-switcher li.disable {
     display: table;
     padding: 8px 0px;
     width: 100%;
}
 .layer-switcher li.disable>.switch>.switchdisable{
    background-color:#eee !important;
 }
 .layer-switcher li.layer label, .layer-switcher li.layer input {
     display: table-cell;
     vertical-align: sub;
     padding-left: 0px;
     padding-top: 1px;
     font-weight: normal;
     font-size: 16px;
     font-family:verdana !important;
     cursor:pointer;
}
 .layer-switcher li.disable label, .layer-switcher li.disable input {
     display: table-cell;
     vertical-align: sub;
     padding-left: 0px;
     padding-top: 1px;
     font-weight: normal;
     font-size: 16px;
     font-family:verdana !important;
     cursor:pointer;
}
 .layer-switcher input[type=checkbox]{
     margin-right:15px;
}
 .layer-switcher input {
     margin: 4px;
}
 .layer-switcher.touch ::-webkit-scrollbar {
     width: 6px;
}
 .layer-switcher.touch ::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
     border-radius: 10px;
}
 .layer-switcher.touch ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1290px) and (orientation : landscape) {
     .layer-switcher li.layer>label{
         font-size: 20px !important;
    }
     li.layer label:nth-child(2) {
         height:26px !important;
         font-size: 16px !important;
         position:relative;
         top:5px;
    }
     .layer-switcher li.layer label>span{
         font-size: 16px !important;
         height:26px !important;
    }
     .layer-switcher li.layer input{
         font-size: 16px !important;
         position:relative;
         top:-10px;
    }
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1290px) and (orientation : landscape) {
     .layer-switcher li.disable>label{
         font-size: 20px !important;
    }
     li.layer label:nth-child(2) {
         height:26px !important;
         font-size: 16px !important;
         position:relative;
         top:5px;
    }
     .layer-switcher li.disable label>span{
         font-size: 16px !important;
         height:26px !important;
    }
     .layer-switcher li.disable input{
         font-size: 16px !important;
         position:relative;
         top:-10px;
    }
}