.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:20px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:180%;
    line-height:1;
    color:#ddd;
    text-shadow:0.5px 0.5px #bbb, 0.5px 0.5px #666, 0.05em 0.05em 0.1em rgba(0,0,0,.5)
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:0.5px 0.5px #c60, 0.5px 0.5px #940, .05em .05em 0.1em rgba(0,0,0,.5); 
}
.rating >input[type=radio]{
	width:20px;
	height:auto;
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1290px) and (orientation : landscape) {
 	.rating:not(:checked) > label {
 		width:30px;
 	}
 	.headerreviewposition{
 		top:8px;
 	}
 }