  #footer{
     background-color: #2c3e50;
     width:100% !important;
     font-size:12px;
     display: block;
     top:unset !important;
     /*transition: all 0.5s;*/
}
 .resize{
     position:fixed;
     bottom:0px;
     width:100%;
     z-index: 9999;
}
 .step1_swipe{
     height:20px;
     width:100%;
     background-color:transparent;
     bottom:0px;
     position:absolute;
     z-index:1;
}
.lighthandle{
    position: absolute;
    top: -24px;
    margin: 0 auto;
    text-align: center;
    height: 24px;
    width: 50px;
    background-color: #2c3e50;
    left: 43%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}
 #route_data{
     display:none;
}

.blue_text_small{
    color:#77feff;
    width:50%;
}
.blue_text_big{
    font-size:24px;
    color:#77feff;
    width:50%;
}
.yellow_text_small{
    color:#ffe47b;
     width:50%;
}
.yellow_text_big{
    font-size:24px;
    color:#ffe47b;
     width:50%;
}
#wpListId h6{
     font-size:12px;
     font-weight:bold;
}
 #wpListId{
     font-size:12px;
     display:none;
}
 #wpListId_tab{
     display:none;
}
 #wpListId ul , #wpListId_tab ul{
     position: relative;
     left: 0px;
     list-style: none;
     padding-left: 10px;
     width: 80%;
     margin-bottom: 0px;
     float:left;
}
 #wpListId ul li h6{
     margin-bottom:0px !important;
}
 #wpListId button , #wpListId_tab button{
     float:right;
     width:20%;
     position: relative;
     top: 5px;
     right:10px;
     padding:0px;
}
.wpitem{
     border-bottom:1px solid #0b2946;
     height:35px;
}

 .wpitem h6 {
    color:#fff;
     font-weight:bold;
}
 .wpitem ul li {
    color:yellow;
}
/* TAB UI for side panel */
 #route_data_tab{
     display:none;
}


     .sidenav {
     height: 100%;
     width:0px;
     position: fixed;
     top: 0;
     right: 0;
     background-color: #2c3e50;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 5px;
     display:block;
     margin-right:0px;
}
 .routedatabg {
    background-color:rgb(44, 62, 80);
     padding:5px;
     color:#fff;
}
 .routedatabg b {
    font-weight:bold;
     color:#fff;
}
.side_route_table>thead>tr>th{
    padding: 0px !important;
	border:none !important;
}
.side_route_table>thead>tr>th:nth-child(2){
    text-align:right;
}

 @media only screen and (min-device-width : 320px) and (max-device-width : 767px){
 	  .wpitem {
         height: 40px;
    }
     #wpListId h6{
         font-size:14px;
    }
     #wpListId ul{
         font-size:14px;
    }
     #wpListId button, #wpListId_tab button {
         top: 8px;
         padding: 0px;
    }
    /* TAB UI for side panel */
      .routedatabg{
         font-size:16px;
    }
 }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1290px) and (orientation : landscape) {
  	  #wpListId button, #wpListId_tab button {
         top: 10px;
         padding: 2px !important;
    }
    /* TAB UI for side panel */
     .side_width{
             width:340px !important;
             transition: all .4s ease 0s;
             font-size:16px;
             border-left: 1px solid #ccc;
        }
    .routedatabg {
         font-size: 16px !important;
    }
     .wpitem{
         background:#2c3e50 !important;
         height:48px !important;
    }
  }
   @media only screen and (min-device-width : 768px) and (max-device-width : 1290px){
   	 .wpitem {
         height: 68px;
    }
     #wpListId h6{
         font-size:24px;
    }
     #wpListId ul{
         font-size:24px;
    }
     #wpListId button, #wpListId_tab button {
         top: 10px;
         padding: 7px;
    }
      .wpitem>ul>li>h6{
         margin-bottom:4px !important;
    }
    /* TAB UI for side panel */
      .routedatabg{
         font-size:24px;
    }
   }