#poidetails{
    display:none;
    position: absolute;
    top:0px;
    left:0px;
    z-index:9999;
    width:100%;
}
.card-header:first-child{
	 border-radius: 0;
}
 .btn-mycol{
     background-color:#2c3e50;
     color:#fff;
}
 .backto_main{
     float: left;
     position: relative;
     top: 3px;
     font-size: 16px;
}
.backto_mainpage{
	float: left;
     position: relative;
     top: 3px;
     font-size: 16px;
     margin-right: 15px;
}
.backto_main_innerpage{
	float: left;
     position: relative;
     top: 3px;
     font-size: 16px;
     margin-right: 15px;
}
.starheight{
	height:14px;
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  width: 80px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.reviewcount{
    font-size: 16px;
    position: absolute;
    right: -40px;
    top: 15px;
    color: #555;
}

.star-ratings-css1 {
  unicode-bidi: bidi-override;
  font-size: 15px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top1 {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: inline-flex;
  top: 5px;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom1 {
  padding: 0;
  display: inline-flex;
  z-index: 0;
}
.reviewcount1{
font-size: 12px; position: absolute;left: 90px;top: 3px;
}
.head3{
	font-size:22px;
}
.head4{
	font-size:18px;
}
.head5{
	font-size:16px;
}
.allspan, .allas{
	font-size:14px;
}

.read-more-state {
  display: none;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.check{
	font-size: 18px !important;
}
.question{
	font-size: 18px !important;
}
.spanposition{
	position:relative;
	top:2px;
}
.fullpage{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	background-color:#fff;
	z-index:9999;
	display:none;
	border-radius: 0;
}
i.fa-pen{
	position:relative;
	top:5px;
}
i.fa-ellipsis-h{
	position:relative;
	left:2px;
}
.display-none{
	display:none;
}
.alliconwidth{
	width:20px;
}
.onboardskip{
    z-index:9999; top: -8px; right: 16px; position:absolute;
}
.poidetails_cardheight{
	overflow:auto;
	height: calc(100vh - 46px);
}
.poicardheightbigsize{
	overflow:auto;
	height: calc(100vh - 53px);
}
#poimoreinfo{
	color:#0066ff;
	font-size:14px;
	position: absolute;
	top: 15px;
	right:2px;
}
.reviewssection_cardheight{
	overflow: auto; height: calc(100vh - 57px);
}
 @media only screen and (min-device-width : 768px) and (max-device-width : 1290px) and (orientation : landscape) {
 	.backto_main {
    top: 4px;
    font-size: 24px;
}
.onboardskip{
    z-index:9999; top: -13px; right: 16px; position:absolute;
}
.poidetails_cardheight{
	height: calc(100vh - 55px);
}
.reviewssection_cardheight{
	overflow: auto; height: calc(100vh - 60px);
}
.poicardheightbigsize{
	height: calc(100vh - 60px);
}
.head3{
	font-size:28px;
}
.head4{
	font-size:24px;
}
.head5{
	font-size:22px;
}
.allspan, .allas{
	font-size:20px;
}
.star-ratings-css-top1 {
	top:0px;
}
.reviewcount1{
	top:1px;
	left:130px;
}
.backto_mainpage{
	 top: 4px;
    font-size: 24px;
    margin-right: 15px;
}
.reviewcount{
	font-size:18px;
	top: 8px;
    right: -56px;
}
#poireviewcountthree{
	font-size:18px;
	top:-4px;
}
 }