 .ol-control button:focus, .ol-control button:hover{
      outline:none !important;
     border:none;
}
 .ol-control button{
     background-color:#2c3e50;
     color:#fff;
     font-size:40px !important;
     width:50px;
     height:50px;
     text-align: center;
     border: none;
     box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
     transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
     padding:2px;
}

 .ol-zoom .ol-zoom-out{
     border-radius:0 0 4px 4px !important;
     cursor:pointer;
}
 .ol-zoom .ol-zoom-in{
     border-radius:4px 4px 0 0 !important;
     cursor:pointer;
}

 .ol-box {
     box-sizing: border-box;
     border-radius: 2px;
     border: 2px solid #00f;
}

 .ol-rotate {
     display: none;
}

 .ol-scale-line {
     bottom: 8px;
     left: 8px;
     z-index: 1;
     text-shadow: none !important;
     display: inline-block;
     position: absolute;
     vertical-align: middle;
}
 .ol-scale-line-inner {
     border: 2px solid #808080;
     border-top: none;
     color:#000;
     font-size: 11px;
     text-align: center;
     margin:1px;
     font-family: verdana;
     will-change:contents,width;
     text-shadow: 0 0 0.5em #FFF, 0 0 0.5em #FFF;
     font-weight: bold;
}
 .ol-overlay-container {
     will-change: left, right, top, bottom
}
 .ol-unsupported {
     display: none;
}
 .ol-viewport .ol-unselectable {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     -webkit-tap-highlight-color: transparent
}
 .ol-zoom {
     bottom: 56px;
     left: 5px;
     display:none;
}
 .ol-zoom-extent {
     top: 4.643em;
     left: .5em
}
 .ol-full-screen {
     right: .5em;
     top: .5em
}
 .ol-control button::-moz-focus-inner {
     border: none;
     padding: 0
}
 .ol-zoom-extent button {
     line-height: 1.4em
}
 .ol-touch .ol-control button {
     font-size: 1.5em
}
 .ol-touch .ol-zoom-extent {
     top: 5.5em
}
 .ol-control button:focus, .ol-control button:hover {
     text-decoration: none;
     background-color: rgba(0, 0, 0, .7);
     background-color: rgba(0, 0, 0, .7);
}
 .ol-zoom .ol-zoom-in {
     border-radius: 2px 2px 0 0;
}
 .ol-zoom .ol-zoom-out {
     border-radius: 0 0 2px 2px;
}